<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Curso BRQ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="./" routerLinkActive="selected">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="professores" routerLinkActive="selected">Professores</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="alunos" routerLinkActive="selected">Alunos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="professores/1" routerLinkActive="selected">Detalhes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="forms/template-driven" routerLinkActive="selected">Form Template</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="forms/data-driven" routerLinkActive="selected">Form Data</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="selected">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="selected">Logout</a>
        </li>

      </ul>
      
    </div>
  </nav>