<p>Formulário Professor: </p>

<form [formGroup]="meuForm" (ngSubmit)="sub()">
        <div class="form-group">
          <label for="id">Id</label>
          <input type="id"
          class="form-control" formControlName="idprofessor"
          placeholder="ID: ">
        </div>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text"
          class="form-control" formControlName="nome"
          placeholder="Nome do Professor: ">
        </div>

        <br/>

        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>