<p>Formulário Professor: </p>

<form [formGroup]="meuForm" (ngSubmit)="sub()">

  <div formGroupName="professor">

    <div class="form-group">
      <label for="id">Id</label>
      <input type="id" class="form-control" formControlName="idprofessor" placeholder="ID: ">
      <app-msg-erro [isError]="isErrorCampo('professor.idprofessor')" mensagem="Campo Obrigatório"></app-msg-erro>
    </div>

    <app-debug-campo [variavel]="getCampo('professor.idprofessor')"></app-debug-campo>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" placeholder="Nome do Professor: ">
      <app-msg-erro [isError]="isErrorCampo('professor.nome')" mensagem="Campo Obrigatório"></app-msg-erro>
    </div>

    <app-debug-campo [variavel]="getCampo('professor.nome')"></app-debug-campo>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>