<p>Professor Detalhes Funciona!</p>

{{ todosOsProfessores | json }}

<br/><br/>

<!-- <ul>
    <li> 
        {{ todosOsProfessores[0].nome }}
    </li>
</ul> -->

<div *ngIf="todosOsProfessores.length > 0">
        <table class="table table-striped table-dark">
          <thead>
            <tr>  
              <th scope="col" class="text-center">Id</th>
              <th scope="col" class="text-center">Nome</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let p of todosOsProfessores">
              <th scope="row" class="text-center"> {{ p.idprofessor }} </th>
              <td class="text-center"> {{ p.nome }} </td>
            </tr>
          </tbody>
        </table>
     </div>

<br/><br/>

  <!-- <button class="btn btn-primary" (click)="addIdade()" >+</button>

  {{ idade }}

  <button class="btn btn-primary" (click)="removeIdade()">-</button> -->